<section class="section page-1" id="page-1">
  <div class="container page-1__container">
    <div class="page-1__details">
      <h1 class="title page-1__title">Video service</h1>
      <picture>
        <source srcset="img/projects/05-big.webp" type="image/webp" />
        <img
          loading="lazy"
          src="../img/projects/05-big.jpg"
          class="page-1__img"
          alt="projects-5"
        />
      </picture>
      <p class="page-1__descr">Skills: React, Node.js, MongoDB</p>
      <a href="#!" class="btn-outline page-1__link">
        <svg class="page-1__icon">
          <use xlink:href="img/sprite.svg#gitHub-black"></use>
        </svg>
        GitHub repo
      </a>
    </div>
  </div>
</section>
