<section class="section pages" id="pages">
  <div class="container pages__container">
    <div class="pages__details">
      <h1 class="title pages__title">Video service</h1>
      <picture>
        <source srcset="img/projects/05-big.webp" type="image/webp" />
        <img
          loading="lazy"
          src="../img/projects/05-big.jpg"
          class="pages__img"
          alt="projects-5"
        />
      </picture>
      <p class="pages__descr">Skills: React, Node.js, MongoDB</p>
      <a href="#!" class="btn-outline pages__link">
        <svg class="pages__icon">
          <use xlink:href="img/sprite.svg#gitHub-black"></use>
        </svg>
        GitHub repo
      </a>
    </div>
  </div>
</section>
