.hero {
  @include flex-all-center;

  padding: 40px 0;
  min-height: 665px;
  background-color: var(--dark-bg);
  background-image: url("../../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;

  &__container {
    text-align: center;
    max-width: 660px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    color: var(--alabaster);

    &--strong {
      font-size: 60px;
    }

    &--em {
      font-size: 60px;
      font-style: normal;
      color: var(--primary-color);
    }
  }

  &__text {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: var(--light-text);

    p {
      margin: 0;
      margin-top: 1em;
    }
  }

  &__btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;
    border-radius: 5px;
    background-color: var(--primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--light-color);
    transition: opacity 0.2s ease-in;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }
}
