<section class="section content-section contacts-section" id="contacts">
  <div class="container contacts__container">
    <h1 class="title content__title contacts__title">Contacts</h1>
    <ul class="list-reset content__list contacts__list">
      <li class="content__item contacts__item">
        <h2 class="subtitle content__subtitle contacts__subtitle">Location</h2>
        <p class="content__descr contacts__descr">Moscow, Russia</p>
      </li>
      <li class="content__item contacts__item">
        <h2 class="subtitle content__subtitle contacts__subtitle">
          Telegram&nbsp;/ WhatsApp
        </h2>
        <p class="content__descr contacts__descr">
          <a class="content__link" href="tel:+79051234567"
            >+7 (905) 123-45-67</a
          >
        </p>
      </li>
      <li class="content__item contacts__item">
        <h2 class="subtitle content__subtitle contacts__subtitle">Email</h2>
        <p class="content__descr contacts__descr">
          <a class="content__link" href="mailto:webdev@protonmail.com"
            >webdev@protonmail.com</a
          >
        </p>
      </li>
    </ul>
  </div>
</section>
