<footer class="footer">
  <div class="container footer__container">
    <ul class="list-reset social" title="Социальные сети">
      <li class="social__item">
        <a
          href="#"
          target="_blank"
          class="social__link social__link--vk"
          aria-label="Наша страничка во Вконтакте"
        >
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a
          href="#"
          target="_blank"
          class="social__link social__link--instagram"
          aria-label="Наша страничка в Инстаграм"
        >
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a
          href="#"
          target="_blank"
          class="social__link social__link--tw"
          aria-label="Наша страничка в Твиттере"
        >
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a
          href="#"
          target="_blank"
          class="social__link social__link--gh"
          aria-label="Наша страничка в Github"
        >
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#gitHub-black"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a
          href="#"
          target="_blank"
          class="social__link social__link--gh"
          aria-label="Наша страничка в LinkedIn"
        >
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#linkedIn"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="footer__copyright">
      <p>&copy;&nbsp;2022 frontend-dev.com</p>
    </div>
  </div>
</footer>
