<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="header__logo"
      ><strong>Freelancer</strong> portfolio</a
    >
    <nav class="nav header__nav">
      <ul class="list-reset header-list">
        <li class="header-list__item">
          <a
            href="./index.html"
            class="header-list__link header-list__link--active"
            >Projects</a
          >
        </li>
        <li class="header-list__item">
          <a href="./skills.html" class="header-list__link header-list__link"
            >Skills</a
          >
        </li>
        <li class="header-list__item">
          <a href="#contacts" class="header-list__link header-list__link"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
