<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="header__logo"
      ><strong>Freelancer</strong> portfolio</a
    >
    <button class="btn-reset dark-mode-btn" id="dark-mode-btn">
      <svg class="dark-mode-btn__icon">
        <use xlink:href="img/sprite.svg#sun"></use>
      </svg>
      <svg class="dark-mode-btn__icon">
        <use xlink:href="img/sprite.svg#moon"></use>
      </svg>
    </button>
    <nav class="nav header__nav">
      <ul class="list-reset header-list" id="header-list">
        <li class="header-list__item">
          <a href="./index.html" class="header-list__link">Projects</a>
        </li>
        <li class="header-list__item">
          <a href="./skills.html" class="header-list__link">Skills</a>
        </li>
        <li class="header-list__item">
          <a href="./contacts.html" class="header-list__link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
