<section class="section page-1" id="page-1">
  <div class="container page-1__container">
    <h1 class="title page-1__title">Video service</h1>
    <li class="projects-list__item">
      <a href="./project-page-1.html" class="projects-list__link">
        <picture>
          <source srcset="img/projects/01-big.webp" type="image/webp" />
          <img
            loading="lazy"
            src="../img/projects/01-big.jpg"
            class="projects-list__img"
            alt="projects-1"
          />
        </picture>
        <h3 class="projects-list__title">Gaming streaming portal</h3>
      </a>
    </li>
  </div>
</section>
