<section class="section content-section skills-section" id="skills">
  <div class="container skills__container">
    <h1 class="title content__title skills__title">Skills</h1>
    <ul class="list-reset content__list skills__list">
      <li class="content__item skills__item">
        <h2 class="subtitle content__subtitle skills__subtitle">Frontend</h2>
        <p class="content__descr skills__descr">
          JavaScript, TypeScript, ReactJS, Angular, Redux, HTML, CSS, NPM,
          BootStrap, MaterialUI, Yarn, TailwindCSS, StyledComponents
        </p>
      </li>
      <li class="content__item skills__item">
        <h2 class="subtitle content__subtitle skills__subtitle">Backend</h2>
        <p class="content__descr skills__descr">
          NodeJS, MySQL, MongoDB, PHP, Laravel
        </p>
      </li>
    </ul>
  </div>
</section>
