// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "DMSans", sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --black-color: #171718;
  --black-border: #26292d;
  --primary-color: #5c62ec;

  // font
  --second-family: "Poppins", sans-serif;

  --dark-bg: var(--black-color);
  --dark-border: var(--black-border);
  --header-text: var(--light-color);
  --primary: var(--primary-color);
}
