// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "DMSans", sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --black-color: #000;
  --woodsmoke-color: #171718;
  --black-border: #26292d;
  --primary-color: #5c62ec;
  --alabaster-color: #fafafa;

  // font
  --font-family: "DMSans", sans-serif;
  --second-family: "Poppins", sans-serif;

  --dark-bg: var(--woodsmoke-color);
  --dark-border: var(--black-border);
  --light-text: var(--light-color);
  --primary: var(--primary-color);
  --alabaster: var(--alabaster-color);

  // Light mode
  --page-bg: var(--light-color);
  --text-color: var(--woodsmoke-color);

  --title: var(--primary);

  --project-cart-bg: var(--light-color);
  --project-cart-text: var(--woodsmoke-color);
  --box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.25);

  --fill-color: var(--woodsmoke-color);
}

.dark {
  --page-bg: #252526;
  --text-color: var(--light-color);
  --title: var(--light-color);

  --project-cart-bg: var(--woodsmoke-color);
  --project-cart-text: var(--light-color);
  --box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.8);

  --fill-color: var(--light-color);
}
